body {
    background-color: #EAEBED;}
main {
    width: 1500px; 
    display: inline-block;
    margin-left: calc((100% - 1500px) / 2);
    margin-top: 200px;}
div {
    float: left;}
main > div:nth-child(1) {
    margin-left: calc((1500px - 350px - 150px - 310px) / 2); 
    margin-top: 11%; 
    margin-bottom: 10%; 
    width: 350px;}
main > div:nth-child(2) { 
    margin-left: 150px; 
    margin-top: 12%; 
    margin-bottom: 10%; 
    width: 310px;
}
h1 {
    font-size: 100px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #353F48;
    margin: 0%;
}
a {
    border-style: solid; 
    border-color: #6A6F8C; 
    color: white; 
    padding: 10px 20px; 
    background-color: #6A6F8C; 
    text-decoration-line: none; 
    margin-left: 23%;   
}
p {
    color: grey; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-bottom: 30px; 
}
main > div:nth-child(2) > p:nth-child(2) {
    font-size: 25px; 
    color: #666A85; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
